<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css" />
  <title>Document</title>
</head>
  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a class="brand"><h1>John Doe Photography</h1></a>
        <nav class="nav">
          
          <ul class="nav__wrapper">
          
            <li class="nav__item"><a href="./about.html">About</a></li>
            <li class="nav__item"><a href="./works.html">Works</a></li>
            <li class="nav__item"><a href="./photoGallery.html">Gallery</a></li>
            <li class="nav__item"><a href="./contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
  <section class="main">
  <div class="mainPagePhoto">
    <img class="mainPagePhoto" src="images/mainPagePhotoSmall.jpg" alt="mainPagePhoto"/>
  </div>
</section>
 <footer>Photos by Engin Akyurt from Pexels</footer>
</body>
</html>